body {
    background-color: #4F4739;
}

.container {
    display: grid;
    margin: 30px 10% 150px 10%;
    grid-template-columns: 75% auto;
    grid-template-areas:
        'header header'
        'nav nav'
        'section profile'
        'section aside';
    gap: 8% 4%;
}

header {
    grid-area: header;
    margin: 0 8% -2% 8%;
}

nav {
    background-color: #FFF8E7;
    grid-area: nav;
    padding-bottom: 0px;
    border-radius: 16px;
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        'home groups about contact';
    gap: 75px;
    list-style: none;
    font-size: larger;
    margin: 10px 25% 10px 20px;
}

.home-btn {
    grid-area: home;
}
.group-btn {
    grid-area: groups;
}
.about-btn {
    grid-area: about;
}
.contact-btn {
    grid-area: contact;
}


.profile {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas:
        'profile-img username'
        'profile-img lvl'
        'xp-bar xp-bar';

    background-color: #FFF8E7;
    padding: 20px;
    border-radius: 16px;
}

.profile-img {
    grid-area: profile-img;
}

.username {
    grid-area: username;
}

.lvl {
    grid-area: lvl;
}

.xp-bar {
    grid-area: xp-bar;
}

section {
    background-color: #FFF8E7;
    grid-area: section;
    padding: 20px;
    border-radius: 16px;
}

section article {
    background-color: #857F72;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    border-style: solid;
    border-color: #252525;
    color: white;
}

aside {
    background-color: #FFF8E7;
    grid-area: aside;

    padding: 20px;
    border-radius: 16px;
}

aside article {
    margin: 20px 0;
}

footer {
    background-color: #252421;
    padding: 20px 5%;

    color: white;
}

/* BUTTONS */
.btn {
    color: black;
    font-size: 18px;

    padding: 8px 30px;
    border-radius: 50px;

    cursor: pointer;
}

.btn:hover {
    background-color: #252525;
    color: white;
}


/* TEXT ALIGNS */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}