* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #b72424;
    }

html,body {
    background-color: #000000;
    min-height: 100vh;
   
}

.container {
    background-color: aqua;
    min-height: 100vh;
    display: grid;
    padding: 2%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 3fr;
    grid-template-areas: 
        'header header'
        'nav nav'
        'news profile'
        'news aside'
        'hl hl'
        
     ;
     
    gap: 2%;
    
}
img{
    align-items: center;
    width: 75%;
    margin: auto;
    display: block;
    padding: 5%;
    
}

header {
    grid-area: header;
    align-items: center;
   
    color: white;
    font-size: 25px;
}

nav {
    background-color: #FFF8E7;
    grid-area: nav;
    border-radius: 16px;
    width: 100%;
    
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        'home groups about contact';
    gap: 2%;
    width: 90%;
    list-style: none;
    font-size: larger;
    padding: auto;
    
}



.home-btn {
    grid-area: home;
    padding: 2%;
}
.group-btn {
    grid-area: groups;
}
.about-btn {
    grid-area: about;
}
.contact-btn {
    grid-area: contact;
}


.profile {
    display: grid;
    grid-area: profile;
    grid-template-columns: 20% auto;
    grid-template-areas:
        'profile-img username'
        'profile-img lvl'
        'xp-bar xp-bar';

    
    height: 30%;
    background-color: #FFF8E7;
    padding: 20px;
    border-radius: 16px;
}

.profile-img {
    grid-area: profile-img;
    
}

.username {
    grid-area: username;
    font-size: 25px;
}

.lvl {
    grid-area: lvl;
}

.xp-bar {
    grid-area: xp-bar;
}

h3{
    line-height: 35px;
}

p{
    text-align: center;
    line-height: 25px;
}

section {
    background-color: #FFF8E7;
    padding: 20px;
    border-radius: 16px;
}

.news {
    grid-area: news;
    padding: 1%;
}

.highlighted {
    width: 100%;
    height: 100%;
    grid-area: hl;
}

section article {
    background-color: #857F72;
    margin: 5%;
    padding: 8px 20px;
    border-radius: 16px;
    border-style: solid;
    border-color: #252525;
    color: white;
}

aside {
    background-color: #FFF8E7;
    grid-area: aside;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 16px;
}

aside article {
    margin: 5%;
}

footer {
    grid-area: footer;
    background-color: #252421;
    padding: 20px 5%;
    margin-top: 20%;
    color: white;
}

/* BUTTONS */
.btn {
    color: black;
    font-size: 18px;

    padding: 8px 30px;
    border-radius: 50px;

    cursor: pointer;
}

.btn:hover {
    background-color: #252525;
    color: white;
}


/* TEXT ALIGNS */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    
}


@media (max-width:780px){
    
    .container {
        background-color: rgb(78, 89, 245);
        min-height: 100vh;
        display: grid;
        padding: 2%;
        grid-template-columns: 2fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
            'header header'
            'nav nav'
            'profile aside'
            'news news'
            'hl hl'
            
         ;
         
        gap: 1%;    
    }

    header{
        font-size: 25px;
        text-align: center;
    }

    
nav {
    background-color: #FFF8E7;
    grid-area: nav;
    border-radius: 16px;
    width: 100%;
}
nav ul {
    display: grid;
    grid-template-columns: 2fr ;
    grid-template-rows: auto;
    grid-template-areas:
        'home'
        'groups'
        'about'
        'contact' ;
    width: 100%;
    font-size: 15px; 
}
ul li{
    width: 100%;
    background-color: aqua;
}

    .profile {
        display: grid;
        grid-area: profile;
        grid-template-columns: 20% auto;
        grid-template-areas:
            'profile-img username'
            'profile-img lvl'
            'xp-bar xp-bar';
    
        width: 100%;
        height: 100%;
        background-color: #FFF8E7;
        padding: 20px;
        border-radius: 16px;
    }

    aside {
        background-color: #FFF8E7;
        grid-area: aside;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 16px;
    }

    footer{
        margin-top: 25%;
    }
    
}