:root {
    --primary-color: #FFF8E7;
    --secondary-color: #857F72;
    --btn-color: #252525;
    --bg-color: #4F4739;
    --footer-color: #252421;
}

body {
    background-color: var(--bg-color);
}

header {
    color: white;
}

nav {
    background-color: var(--primary-color);
    border-radius: 16px;
}

nav ul {
    padding: 0;
    list-style: none;
    font-size: larger;
}

.profile {
    background-color: var(--primary-color);
    border-radius: 16px;
}

section {
    background-color: var(--primary-color);
    border-radius: 16px;
}

section article {
    background-color: var(--secondary-color);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--btn-color);
    color: white;
}

aside {
    background-color: var(--primary-color);
    border-radius: 16px;
}

footer {
    background-color: var(--footer-color);
    color: white;
}

.flex-direction-column {
    flex-direction: column;
}

/* BUTTONS */
.btn {
    color: black;
    font-size: 18px;
    border-radius: 50px;

    transition: 0.25s ease-in;
}

.btn:hover {
    background-color: var(--btn-color);
    color: white;
}


/* TEXT ALIGNS */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@media screen and (min-width: 992px) {
    .btn {
        padding: 6px 32px;
    }
}